# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data files
data/
*.json

# Build files
build/
dist/
*.exe
*.spec

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
